body{
    background-color: #fcf9ef;
    
}

.case{
    text-align: center;
     font-size: 25px;
     float:right; 
     font-family: sans-serif  ;
     color:black;


}
.menu{
    float: right;
    direction: rtl;
    text-align: justify;
    font-size: 25px;
    padding-right: 40%;
    font-family: sans-serif;
}


